<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include
		resource="org/springframework/boot/logging/logback/base.xml" />
	<logger name="com.broodcamp" level="WARN" additivity="false">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</logger>
	<logger name="com.terawarehouse" level="WARN" additivity="false">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</logger>
	<logger
		name="io.swagger.models.parameters.AbstractSerializableParameter"
		level="ERROR" />
</configuration>